{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff                    #:git{:url "https://github.com/jacobobryant/biff", :sha "a1e9b8c", :tag "v1.8.24"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1203"}
        org.postgresql/postgresql {:mvn/version "42.7.4"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        metosin/muuntaja                    {:mvn/version "0.6.8"}
        ring/ring-defaults                  {:mvn/version "0.3.4"}
        org.clojure/clojure                 {:mvn/version "1.11.1"}

        ;; Notes on logging: https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
        org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}}
 :aliases
 {:dev {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff",
                                        :exclusions [com.xtdb/xtdb-core
                                                     com.xtdb/xtdb-rocksdb
                                                     com.xtdb/xtdb-jdbc]
                                        :git/sha "4b85074",
                                        :git/tag "v1.8.23",
                                        :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dbiff.env.BIFF_PROFILE=dev"]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}
  :prod {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Dbiff.env.BIFF_PROFILE=prod"]
         :main-opts ["-m" "org.xyz"]}}}
